#Modal {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	button {
		width: 300px;
		height: 60px;
		font-size: 20px;
		border-radius: 10px;
		cursor: pointer;
	}

	#ModalBackground {
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: #655d5d;
		padding-top: 150px;
		overflow: auto;
		z-index: 1;
		.header {
			display: flex;
			flex-direction: column;
		}
	}

	.modal-content {
		display: flex;
		position: relative;
		width: 80%;
		background-color: #fefefe;
		flex-direction: column;
		justify-content: center;
		font-size: 100px;
		align-items: center;
		text-align: center;
		border: 1px solid red;
		padding: 0;
		margin: auto;
	}

	.close-modal-icon {
		cursor: pointer;
	}
}
