#CustomHook2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 100px;
	height: 100vh;
	padding-top: 30px;
	padding-bottom: 30px;

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		background-color: pink;
	}

	button {
		display: block;
		font-size: inherit;
	}
}
