#qr-generator {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	row-gap: 2rem;
	align-items: center;

	h3 {
		font-size: 5rem;
	}

	a {
		width: auto;
		height: auto;
		background-color: greenyellow;
	}
}
