#StarRating {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	column-gap: 1rem;
	.star {
		width: 25rem;
		height: 25rem;
		fill: white;
		stroke: black;
		stroke-width: 0.5rem;
		&.active {
			fill: rgb(255, 242, 0);
			stroke: black;
		}
	}
}
