#ScrollToParticularSection {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 100px;
	padding-top: 30px;
	padding-bottom: 30px;
	h3 {
		width: 100%;
		height: 60vh;
		display: flex;
		align-items: center;
		justify-content: center;
		&:nth-child(1) {
			background-color: pink;
		}
		&:nth-child(2) {
			background-color: rgb(197, 53, 77);
		}
		&:nth-child(3) {
			background-color: rgb(34, 137, 77);
		}
		&:nth-child(4) {
			background-color: rgb(120, 128, 217);
		}
		&:nth-child(5) {
			background-color: rgb(196, 132, 80);
		}
	}
	button {
		font-size: 60px;
	}
}
