#TicTacToe {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(239, 239, 239);
	flex-direction: column;
	gap: 20px;
	.status {
		font-size: 60px;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(3, 150px);
		grid-template-rows: repeat(3, 150px);
		border-left: 2px solid black;
		border-bottom: 2px solid black;
		.Square {
			display: flex;
			height: 150px;
			border-width: 2px;
			align-items: center;
			justify-content: center;
			font-size: 70px;
			border-left: none;
			border-bottom: none;
			background-color: transparent;
			cursor: pointer;
		}
	}
	.restart-button {
		display: block;
		width: 450px;
		height: 60px;
		font-size: 40px;
		background-color: rgb(180, 224, 242);
		border: 1px solid black;
		border-radius: 10px;
		cursor: pointer;
	}
}
