@use '../../reset.scss';

.accordion {
	display: flex;
	width: 100%;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.items {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
