@use '../../reset.scss';

.random-color-generator {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10%;
}

.buttons-container {
	display: flex;
	gap: 1rem;
	button {
		display: inline-block;
		color: #333;
		border: none;
		font-size: 24px;
		border-radius: 1rem;
		padding: 1rem;
		cursor: pointer;
		&:active {
			transform: scale(0.99);
		}
		&:nth-of-type(1) {
			background-color: bisque;
		}
		&:nth-of-type(2) {
			background-color: rgb(222, 196, 255);
		}
		&:nth-of-type(3) {
			background-color: rgb(151, 229, 158);
		}
	}
}

.current-color-indicators {
	.current-color-mode {
		font-size: 70px;
	}
	.current-color {
		font-size: 70px;
	}
}
