@use '../../reset.scss';

.home {
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 20rem;
	padding-top: 50px;
	padding-bottom: 50px;
}

.component {
	display: flex;
	height: 7rem;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px;
}
