@use '../../reset.scss';

.home {
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-size: 20rem;
}

.component {
	display: flex;
	width: 50rem;
	height: 7rem;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
	&:nth-of-type(1) {
		background-color: rgb(119, 255, 0);
	}
	&:nth-of-type(2) {
		background-color: rgb(0, 191, 255);
	}
	&:nth-of-type(3) {
		background-color: rgb(255, 68, 0);
	}
	&:nth-of-type(4) {
		background-color: rgb(115, 0, 255);
	}
}
