@use '../../reset.scss';

.home {
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 20rem;
	padding-top: 50px;
	padding-bottom: 50px;

	h1 {
		font-size: 60px;
		text-align: center;
		padding: 20px 0;
		span {
			font-size: 40px;
		}
	}
}

.component {
	display: flex;
	height: 7rem;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	padding: 0 20px;
	opacity: 0.5;
	transition: all 0.3s;
	&:hover {
		opacity: 1;
	}
}
