#Darkmode {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
	font-size: 10rem;

	&.active {
		color: white;
		background-color: rgb(37, 34, 34);
	}

	button {
		display: inline-block;
		width: 50rem;
		height: 8rem;
		font-size: 5rem;
	}
}
