#image-slider {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	.loading {
		font-size: 14rem;
	}

	.slider-frame {
		position: relative;
		display: flex;
		border: 10px solid black;
		width: 50rem;
		height: 50rem;
		box-sizing: border-box;
		overflow: hidden;

		.slider {
			width: 50rem;
			height: 50rem;
			figure {
				width: 50rem;
				height: 50rem;
				img {
					display: block;
					width: 50rem;
					height: 50rem;
				}
			}
		}

		.slider-number {
			position: absolute;
			bottom: 1rem;
			right: 1rem;
			font-size: 3rem;
		}

		.slider-controllers {
			button {
				position: absolute;
				display: flex;
				top: 50%;
				width: 5rem;
				height: 3rem;
				align-items: center;
				justify-content: center;
				font-size: 3rem;
				transform: translateY(-50%);
				&.to-prev {
					left: 1rem;
				}
				&.to-next {
					right: 1rem;
				}
			}
		}
	}
}
