#Tabs {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	.tabs-wrapper {
		width: 100%;
	}
	.tab__buttons {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		font-size: 20rem;
	}
	.tab__button {
		width: 100%;
		height: 100px;
		font-size: 5rem;
	}
	.tab__contents {
		text-align: center;
	}
	.tab__content {
		font-size: 10rem;
	}
}
