#GithubProfileFinder {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	input,
	button {
		width: 300px;
		height: 60px;
		font-size: 20px;
		border-radius: 10px;
		cursor: pointer;
	}
	h1 {
		text-align: center;
	}

	#User {
		display: flex;
		font-size: 30px;
		flex-direction: column;
		a {
			justify-content: flex-start;
			font-size: 50px;
			border: 2px solid black;
			border-radius: 3px;
			padding: 5px;
		}
	}
}
