#GithubProfileFinder {
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	button {
		width: 300px;
		height: 60px;
		font-size: 20px;
		border-radius: 10px;
		cursor: pointer;
	}
	h1 {
		text-align: center;
	}
}
